<div class="re-round re-card w3-margin">
    <div class="re-round w3-bar w3-blue re-pad">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
        <div class="w3-bar-item re-button w3-dropdown-hover re-pad w3-blue" {{ if $currentPage.HasMenuCurrent "main" . }} disabled{{ end }}>
            <a href="#">
                {{ .Pre }}<span>{{ .Name }}</span>{{ .Post }}
                <i data-feather="chevron-down"></i>
            </a>
            <div class="w3-dropdown-content w3-bar-block re-card re-round re-delay re-pad">
                {{ range .Children }}
                <a class='w3-bar-item re-button' href="{{ .URL }}" {{ if $currentPage.HasMenuCurrent "main" . }} disabled{{ end }}>
                    {{ .Pre }}<span>{{ .Name }}</span>{{ .Post }}
                </a>
                {{ end }}
            </div>
        </div>
        {{ else }}
        <div class="w3-bar-item re-button re-pad w3-blue" {{ if $currentPage.HasMenuCurrent "main" . }} disabled{{ end }}>
            <a href="{{ .URL }}">
                {{ .Pre }}<span>{{ .Name }}</span>{{ .Post }}
            </a>
        </div>
        {{ end }}
        {{ end }}
        <input type="text" class="w3-bar-item re-input w3-right w3-blue w3-border" placeholder="Search...">
    </div>
</div>
