/* respond.scss - Respond theme specific CSS */

@use "w3.css";
//@import "w3.css";

* {
    @extend .w3-mobile;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.re-delay {
    transition: 0.5s;
}

.re-pad {
    padding: 0.5rem;
}

.re-button {
    @extend .w3-button;
    @extend .re-delay;
    @extend .re-round;
}

.re-input {
    @extend .w3-input;
    @extend .re-delay;
    @extend .re-round;
}

.re-section {
    @extend .w3-container;
    @extend .re-card;
    @extend .re-pad;
}

.re-card {
    @extend .w3-card;
    @extend .re-round;
}

.re-border {
    @extend .w3-border;
}

.re-round {
    @extend .w3-round-large;
}

.re-tag {
    @extend .w3-tag;
    @extend .re-round;
    margin: 0.3em;
}
